body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.col {
	display: flex;
	align-items: center;
}

.container {
	position: absolute;
	top: 8rem;
}

.column {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-right: 50px;
}

.column1 {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.spacer {
	width: 50%;
}

.column2 {
	display: flex;
	flex-direction: row;
	width: 50%;
}

.column3 {
	display: flex;
	flex-direction: row;
	width: 50%;
	margin-right: 50px;
}

.column4 {
	display: flex;
	flex-direction: row;
	width: 50%;
	/* margin-left: 50px; */
}

.righter {
	width: 50%;
	margin-left: 50px;
}

.righter1 {
	width: 50%;
	/* margin-right: 50px; */
}

.righter2 {
	width: 50%;
	margin-left: 50px;
}

.left {
	height: auto;
	width: 100%;
	min-width: 100%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.left2 {
	height: auto;
	width: 100%;
	min-width: 100%;
	margin-bottom: 1rem;

	margin-top: 1rem;
}

.right {
	height: auto;
	width: 100%;
	min-width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.right2 {
	height: auto;
	width: 100%;
	min-width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.left1 {
	height: auto;
	width: 100%;
	min-width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.right1 {
	height: auto;
	width: 100%;
	min-width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1 {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

nav {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	display: flex;
	/* justify-content: space-between; */
	flex-direction: row;
	padding: 2rem 5rem;
	align-items: center;
	background-color: #f5f5f5;
	height: 4rem;
}

nav h1 {
	font-family: source-sans-pro, sans-serif;

	font-weight: 300;

	font-style: normal;
	letter-spacing: 5px;

	margin-block-start: 0;
	margin-block-end: 0;
}

.row {
	margin-top: 3rem;
	display: flex;
}

.row2 {
	margin-top: 2rem;
	display: flex;
}

main {
	margin: 0rem 5rem;
}

.main {
	margin: 3rem 5rem;
}

.hero {
	height: auto;
	width: 100%;
	min-width: 100%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.vihaan {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.vihaanwrapper {
	width: 50%;
}

.vihaanimg {
	height: auto;
	width: 100%;
	margin-bottom: 1rem;
}

.img1 {
	display: flex;
	width: 50%;
	flex-direction: column;
}

.othercolumn {
	margin-right: 50px;
	width: 50%;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
}

.projectsomething {
	height: auto;
	width: 100%;
	min-width: 100%;
	margin-bottom: 1rem;
}

.spacer {
	width: 50%;
}

.spacer1 {
	width: 50%;
	margin-right: 50px;
}

.spacer2 {
	width: 50%;
}

.tagline {
	font-family: source-sans-pro, sans-serif;

	font-weight: 200;

	font-style: normal;
	font-size: 0.8rem;
}

.fa-arrow-left {
	margin-bottom: 1rem;
	color: #cbcbcb;
}

.fa-arrow-left:hover {
	color: #999999;
	transition: all 0.3s ease;
}

p {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.project-name {
	font-family: source-sans-pro, sans-serif;

	font-weight: 600;
	margin-block-start: 0em;
	margin-block-end: 0em;

	font-size: 1.5rem;
}

.rehousing {
	font-family: source-sans-pro, sans-serif;

	font-weight: 600;
	font-size: 1rem;
	color: #999999;
}

.text {
	font-family: source-sans-pro, sans-serif;

	font-weight: 300;
	font-size: 0.8rem;
	width: 100%;
	margin-top: 1rem;
	text-align: justify;
}

.aboutme {
	font-family: source-sans-pro, sans-serif;

	font-weight: 200;

	font-style: normal;
	font-size: 1rem;
}

.row3 {
	margin-top: 5rem;
	display: flex;
}

.row4 {
	margin-top: 5rem;
	display: flex;
	margin-bottom: 4rem;
}

.descrip {
	font-family: source-sans-pro, sans-serif;

	font-weight: 300;
	font-size: 0.8rem;
	width: 100%;
	text-align: justify;
}

.beacon-text2,
.beacon-text3 {
	width: 100%;
}

.beacon-text3 {
	/* margin-left: 50px; */
}

footer {
	height: 6rem;
	background-color: #bcbcbc;
	color: white;
	padding: 2rem 5rem;
}

footer p {
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-row {
	height: 6rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-col {
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: center;
	align-items: flex-end;
}

.footer-col h3 {
	margin-block-end: 0;
	font-weight: 300;
	margin-block-start: 0;
	text-align: right;
	font-family: source-sans-pro, sans-serif;
}

.footer-col a {
	margin-block-end: 0;
	font-weight: 300;
	margin-block-start: 0;
	font-family: source-sans-pro, sans-serif;
	text-decoration: none;
	color: white;
}

.link:hover {
	opacity: 0.7;
	transition: all 0.2s ease;
}

.thing {
	position: fixed;
	right: 5rem;
	margin-right: 20px;
	display: flex;
}

.cv {
	position: relative;
	font-family: source-sans-pro, sans-serif;
	font-size: 1.5rem;
	margin-right: 20px;
	font-weight: 600;
	color: black;
	text-decoration: none;
}

.cv:hover {
	opacity: 0.5;
	cursor: pointer;
	transition: all 0.2s ease;
}

.back-row {
	margin-top: 2rem;
}

.back-row div {
	display: flex;
	color: #a8a8a8;
	font-family: source-sans-pro, sans-serif;
}
.page-link {
	transition: all 0.2s ease;
}

.page-link:hover {
	opacity: 0.7;
	transition: all 0.2s ease;
}

.body {
	display: flex;
	justify-content: space-between;
}

.body-text {
	display: flex;
	flex-direction: column;
	width: 40%;
	padding-right: 30px;
}

.body-images {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: flex-end;
}

.image-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 1.1rem;
	justify-content: space-between;
}

.image-row2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.m-left {
	margin-left: 20px;
}

.bacon-image-1 {
	width: 100%;
}

.bacon-image-2 {
	width: 100%;
}

.bacon-image-3 {
	width: 44%;
	height: auto;
}

.bacon-image-4 {
	width: 100%;
}

.graduate {
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 1rem;
	width: 85%;
	margin-bottom: 1rem;
}

.beacon-name {
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-size: 1.5rem;
}

.re-housing {
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-size: 1rem;
	color: #999999;
}

.beacon-descrip {
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	width: 82%;
	margin-top: 1rem;
	text-align: justify;
}

#section {
	padding: 3rem 3rem;
	position: fixed;
	z-index: 1;
	height: calc(100vh - 6rem);
	width: 400px;
	right: 0;
	background-color: #ed9c6d;
	display: none;
}

::selection {
	color: none;
	background: none;
}

.profile1,
.profile2,
.profile3,
.profile4,
.profile5,
.profile6 {
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	color: white;
	font-size: 1.1rem;
	width: 100%;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid white;
	border-style: dotted;
	margin-bottom: 1rem;
	font-style: normal;
}

.profile1:hover,
.profile2:hover,
.profile3:hover,
.profile4:hover,
.profile5:hover,
.profile6:hover {
	cursor: pointer;
	opacity: 0.7;
	transition: 0.3s ease all;
}

.down1,
.down2,
.down3,
.down4,
.down5,
.down6 {
	font-family: source-sans-pro, sans-serif;
	display: none;
	font-weight: 300;
	color: white;
	font-size: 1rem;
	line-height: 16px;
	margin-bottom: 1rem;
}

@media screen and (max-width: 965px) {
	main {
		margin: 0rem;
	}

	.body {
		flex-direction: column;
	}

	.main {
		margin: 1rem 1rem;
	}

	.body-text {
		margin-bottom: 2rem;
		padding-right: 0;
	}
	.body-text,
	.beacon-descrip,
	.body-images {
		width: 100%;
	}

	.container {
		width: 100%;
	}

	#section {
		width: calc(100vw - 6rem);
	}

	#arch {
		display: none;
	}

	.row {
		flex-direction: column;
	}

	.vihaanimg {
		margin: auto;
	}

	.vihaanwrapper {
		margin: auto;
		display: flex;
	}

	.vihaan {
		margin: auto;
	}

	.othercolumn {
		width: 80vw;
		margin: auto;
		margin-bottom: 1rem;
	}

	.descrip {
		display: none;
	}

	.row3 {
		flex-direction: column;
	}

	.column {
		margin-right: 0;
		width: 100%;
	}

	.column2 {
		flex-direction: column;
		width: 100%;
	}

	.img1 {
		width: 100%;
		margin-top: 5rem;
	}

	.spacer,
	.spacer1,
	.righter1,
	.spacer2 {
		width: 100%;
	}

	.righter,
	.righter2 {
		margin-left: 0;
		width: 100%;
	}

	.row4 {
		flex-direction: column;
	}

	.column3,
	.column4 {
		width: 100%;
		flex-direction: column;
	}

	.projectsomething,
	.left,
	.hero,
	.right,
	.right2,
	.left2,
	.right1,
	.left1 {
		margin: 1rem auto;
		width: 88%;
		min-width: 88%;
		height: auto !important;
	}
	.left2 {
		margin-top: 5rem;
	}

	.page-link {
		display: flex;
	}

	.left,
	.right,
	.right1,
	.right2 {
		margin-top: 5rem;
	}

	.beacon-text,
	.beacon-text2,
	.beacon-text3 {
		/* margin: 1rem 1rem; */
		width: 88%;
		display: flex;
		flex-direction: column;
		margin: auto;
	}

	.text {
		/* width: 88%; */
	}

	.footer-col {
		margin-left: 10px;
	}

	footer,
	.footer-row {
		margin-right: 0px !important;
	}

	footer {
		padding: 1rem 1rem;
	}
}

@media screen and (max-width: 535px) {
	nav {
		width: 100%;
		padding: 2rem 1rem;
	}

	.thing {
		right: 1rem;
	}
}
@media screen and (max-width: 390px) {
	nav h1 {
		font-size: 1.3rem;
	}
}
